bower_components
platforms
config/
config_save/
*.log
node_modules
engine
plugins
tmp
resources/

www/css/ionic.app.css
www/css/ionic.app.min.css
www/css/icons.css
www/css/icons.min.css

www/img/background.png
www/img/logo.png
www/img/icons

src/html/www/menus/


options.json

.DS_Store

www/js/i18n/angular-locale_en.js

www/js/i18n/angular-locale_fr.js

www/img/logo180.png

www/index.html

www/js/app.bundle.js
www/launcher-icon-1x.png
www/launcher-icon-2x.png
www/launcher-icon-4x.png
www/splash.png
builds/
www/manifest.json
www/sw.js
