.item-message-textarea {
  height: 300px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 6px;
}

.fd-sublabel {
  font-size: 75%;
  text-align: center;
}

.fd-message-header-label {
  font-size: 100%;
  text-align: left;
  vertical-align: bottom;
  display: inline-block;
  width: 30px;
}

.fd-message-header-content {
  font-size: 100%;
  font-weight: 500;
  text-align: left;
  vertical-align: bottom;
}

.fd-message-header-start {
  height: 42px;
  padding: 10px;
  border-color: transparent;
}

.fd-message-header-end {
  height: 42px;
  padding: 10px;
}
