<ion-modal-view>
  <ion-content>
    <div class="list fd-instagram fd-instagram-list">
      <img src="img/avatar01.png" ng-click="selectAvatar(1)">
      <img src="img/avatar02.png" ng-click="selectAvatar(2)">
      <img src="img/avatar03.png" ng-click="selectAvatar(3)">
      <img src="img/avatar04.png" ng-click="selectAvatar(4)">
      <img src="img/avatar05.png" ng-click="selectAvatar(5)">
      <img src="img/avatar06.png" ng-click="selectAvatar(6)">
      <img src="img/avatar07.png" ng-click="selectAvatar(7)">
      <img src="img/avatar08.png" ng-click="selectAvatar(8)">
      <img src="img/avatar09.png" ng-click="selectAvatar(9)">      
    </div>
  </ion-content>
</ion-modal-view>
