<ion-view view-title="{{postTitle}}">

  <fd-float-button fd-click="newPost()"></fd-float-button>
  <ion-content>
      <ion-refresher on-refresh="onRefresh()">
      </ion-refresher>

      <div ng-class="list" ng-repeat="post in listForums">

          <div class="item item-avatar item-forums-post" style="border-bottom=0px !important;">
              <fd-avatar fd-image="post.customer.image_id"></fd-avatar>
              <div class="fd-name">{{post.customer.first_name}} {{post.customer.last_name}}</div>
              <div class="fd-date">
                <i class="ion-ios-clock-outline"></i>
                <span>{{dateAgo(post.created_at)}}</span>
              </div>
              <span ng-if="canDeletePost(post)" class="icon ion-ios-trash-outline fd-trash" ng-click="deletePost(post)"></span>

              <div class="item-forums-long" ng-click="toggleMsg(post)">
                <p class="fd-msg-full" ng-bind-html="post.message"></p>
              </div>

              <div class="item item item-forums-post" ng-show="post.image_id">
                <img class="gift-image"  fd-image-src="{{post.image_id}}">
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
