.fb-image {
  width: 100%;
}

.fd-facebook {
  background-color:  #354c8c;
  color: white;

  .fd-facebook-icon {
    position: absolute;
    bottom: 6px;
    left: 10px;
    background-color: white;
    color: #354c8c;
    width: 25px;
    height: 29px;

    span {
      position: absolute;
      top:0;
      right: 3px;
    }

    span::before {
        font-size: 32px;
    }
  }

}
