.icon-top {
  .item-icon-left .icon,
  .item-icon-right .icon {
    @include align-items(flex-start);
    top: 10px;
  }
}

.msg-full {
  font-size: 16px;
  font-weight: 400;
  white-space: normal;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  img {
    max-width: 100%;
  }
}

.msg-title-unread {
  font-size: 15px;
  font-weight: 500;
}

.msg-title-read {
  font-size: 15px;
  font-weight: 300;
}