
<ion-view view-title={{getTitleString('cards')}}>
  <ion-content class='fd-cards'>

    <ion-refresher on-refresh="onRefresh()">
    </ion-refresher>

    <div class="slider-pager" ng-class="{active: pagerActive()}" ng-if="pagerActive()">
      <span class="slider-pager-page" ng-repeat="slide in cards track by $index" ng-class="{active: $index == currentSlide}" ng-click="pagerClick($index)">
        <i class="icon ion-record"></i>
      </span>
    </div>

    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" ng-class="{'pager-active': pagerActive()}">

      <ion-slide ng-repeat="card in cards">
        <div class='box'>
          <div ng-class="list" >

            <div class="item text-center">
                  <h2>{{card.program.title}}</h2>
              <div ng-if="card.expired_at" class="card_expired" >
                  <div ng-if="card.isExpired" translate-params-date="card.expired_at  | date:'shortDate'" translate>Expirée depuis le {{date}}</div>
                  <div ng-if="!card.isExpired" translate-params-date="card.expired_at  | date:'shortDate'" translate>Expire le {{date}}</div>
              </div>
            </div>

            <div ng-include="'templates/cards/_card.html'"></div>

            <div class="item text-center" ng-show="card.program.description">
              <div class="text-button" ng-click="showLegalStatment(card)" translate>Description du programme</div>
            </div>

          </div>

          <div ng-class="list" ng-controller="GiftsCtrl" ng-if="attachGifts">

            <div class="item text-center" ng-show="card.isGift">
              <h2 translate>Mes gains disponibles</h2>
            </div>

            <div class="item item-body text-center" ng-show="card.winGift">
              <img class="gift-image"  fd-image-src="{{card.winGift.image_id}}" ng-show="card.winGift.image_id">
              <div class="gift-text">{{card.winGift.title}}</div>
              <div ng-show="card.winGift.expired_at"
                   translate-params-date="card.winGift.expired_at | date:'shortDate'"
                   translate>Valable jusqu'au {{date}}</div>
               <div class="padding" ng-if="burnAlone"><div ng-click="onConsume(card.winGift.uuid, true)" class="button">{{buttonBurnLabel}}</div></div>
            </div>

            <div class="item text-center" ng-repeat="gain in card.specialGains">
              <div>
                <img class="gift-image"  fd-image-src="{{gain.image_id}}" ng-show="gain.image_id">
                <div class="gift-text">{{gain.title}}</div>
                <p ng-show="gain.expired_at"
                   translate-params-date="gain.expired_at  | date:'shortDate'"
                   translate>Valable jusqu'au {{date}}</p>
                <div class="padding" ng-if="burnAlone"><div ng-click="onConsume(gain.uuid, true)" class="button">{{buttonBurnLabel}}</div></div>
              </div>
            </div>

          </div>

          <div ng-class="list" ng-show="card.card_number" ng-click="showBarcode(card)">
            <div class="item item-body text-center" >
              <img class="gift-image" style="width:100%;" ng-src="{{card.barcodeUrl}}">
              <h2>{{card.card_number}}</h2>
            </div>
          </div>

          <div class="godfather" ng-class="list" ng-show="card.program.sponsoring" ng-if="attachGodfather">
            <div class="item item-body text-center">
              <h2 translate>Parrainer mes amis</h2>
              <div class="row">
                <div class="col" ng-class="{'col-50': !isBrowser}">
                  <button class="button button-block" ng-click="send('email', card)" translate>
                    Par email
                  </button>
                </div>
                <div class="col col-50" ng-hide="isBrowser">
                  <button class="button button-block" ng-click="send('sms',card)" translate>
                    Par sms
                  </button>
                </div>
              </div>

              <div class="forthem" translate>Pour mes amis :</div>
              <img class="gift-image" fd-image-src="{{card.program.sponsored_gift_image_id}}" ng-show="card.program.sponsored_gift_image_id">
              <div class="gift-text" ng-if='card.program.sponsored_gift'>{{card.program.sponsored_gift}}</div>
              <div class="gift-text" ng-if='!card.program.sponsored_gift'>{{card.program.sponsored_points}} points</div>

              <div class="foryou" translate>Pour moi :</div>
              <img class="gift-image" fd-image-src="{{card.program.sponsor_gift_image_id}}" ng-show="card.program.sponsor_gift_image_id">
              <div class="gift-text" ng-if='card.program.sponsor_gift'>{{card.program.sponsor_gift}}</div>
              <div class="gift-text" ng-if='!card.program.sponsor_gift'>{{card.program.sponsor_points}} points</div>
            </div>

          </div>


        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

</ion-view>
